absl-py==0.8.1
argh==0.26.2
astor==0.8.0
astroid==2.2.5
atari-py==0.1.7
brlapi==0.6.6
certifi==2019.9.11
chardet==3.0.4
click==7.0
cloudpickle==0.8.1
configparser==4.0.2
cycler==0.10.0
dask==1.1.4
decorator==4.4.0
docker-pycreds==0.4.0
future==0.17.1
gast==0.3.2
gitdb2==2.0.6
gitpython==3.0.4
google-pasta==0.1.7
gpg==1.10.0
gql==0.1.0
graphql-core==2.2.1
grpcio==1.24.1
gym==0.12.0
h5py==2.10.0
idna==2.8
iniparse==0.4
ipy==0.81
isort==4.3.16
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
markdown==3.1.1
matplotlib==3.0.3
mccabe==0.6.1
networkx==2.2
numpy==1.16.2
nvidia-ml-py3==7.352.0
pandas==0.24.2
pathtools==0.1.2
pillow==5.4.1
pip==9.0.3
promise==2.2.1
protobuf==3.7.0
psutil==5.6.6
pycairo==1.15.3
pygame==1.9.4
pyglet==1.3.2
pygobject==3.26.1
pylint==2.3.1
pyopengl-accelerate==3.1.1a1
pyopengl==3.1.0
pyparsing==2.3.1
python-dateutil==2.8.1
pytz==2018.9
pywavelets==1.0.2
pyxdg==0.25
pyyaml==5.1.2
requests==2.22.0
rpm==4.14.2.1
rx==1.6.1
scikit-image==0.14.2
scipy==1.2.1
sentry-sdk==0.13.2
sepolicy==1.1
setools==4.1.1
setuptools==41.4.0
shortuuid==0.5.0
six==1.13.0
slip.dbus==0.6.4
slip==0.6.4
smmap2==2.0.5
sssdconfig==1.16.3
subprocess32==3.5.4
tensorboard==1.14.0
tensorboardx==1.6
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
toolz==0.9.0
torch==1.0.1.post2
tqdm==4.31.1
typed-ast==1.3.1
urllib3==1.25.6
wandb==0.8.15
watchdog==0.9.0
werkzeug==0.16.0
wheel==0.33.6
wrapt==1.11.1